<% layout('layouts/boilerplate') %>
  <title>Home</title>
  <div class="home-container">
    <h1>Welcome to RoofApp</h1>
    <p>Your gateway to the best campgrounds around!</p>
    <a href="/campgrounds" class="btn btn-primary">View Campgrounds</a>
  </div>